<a href="https://colab.research.google.com/github/SABRIS13/Machine_Learning/blob/main/Culiacan_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar librerías

In [ ]:
import pandas as pd

**Carga del dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
diccionario=pd.read_csv('/content/drive/MyDrive/Proyecto_Dev.F/Restaurants_Location_ML/denue_diccionario_de_datos.csv',  encoding='latin-1')
diccionario

,DICCIONARIO DE DATOS DENUE (15/06/2016),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Nombre del Atributo en csv,Nombre del Atributo en DBF,Tipo de dato,Longitud,Descripción
1,id,id,numérico,10,"Número de identificación del DENUE, es una cl..."
2,nom_estab,nom_estab,alfanumérico,150,Es el nombre comercial o nombre exterior con e...
3,raz_social,raz_social,alfanumérico,150,Es la forma con que está legalmente constituid...
4,codigo_act,codigo_act,alfanumérico,6,La clasificación de las actividades desarrolla...
5,nombre_act,nombre_act,alfanumérico,250,Nombre del código de actividad conforme al SCI...
6,per_ocu,per_ocu,alfanumérico,20,Comprende al personal contratado directamente ...
7,tipo_vial,tipo_vial,alfanumérico,25,Es la superficie del terreno destinada para el...
8,nom_vial,nom_vial,alfanumérico,100,Es el sustantivo propio con el cual se identif...
9,tipo_v_e_1,tipo_v_e_1,alfanumérico,40,Es la superficie del terreno destinada para el...
10,nom_v_e_1,nom_v_e_1,alfanumérico,100,Es el sustantivo propio con el cual se identif...
11,tipo_v_e_2,tipo_v_e_2,alfanumérico,40,Es la superficie del terreno destinada para el...
12,nom_v_e_2,nom_v_e_2,alfanumérico,100,Es el sustantivo propio con el cual se identif...
13,tipo_v_e_3,tipo_v_e_3,alfanumérico,40,Es la superficie del terreno destinada para el...
14,nom_v_e_3,nom_v_e_3,alfanumérico,100,Es el sustantivo propio con el cual se identif...
15,numero_ext,numero_ext,numérico,7,Son los valores numéricos que identifican a un...
16,letra_ext,letra_ext,alfanumérico,35,Son los caracteres alfanuméricos que identific...
17,edificio,edificio,alfanumérico,35,Es el sustantivo propio con el que se identifi...
18,edificio_e,edificio_e,alfanumérico,35,Es con el que se identifica el piso o nivel de...
19,numero_int,numero_int,numérico,7,Son los valores numéricos que identifican el d...
20,letra_int,letra_int,alfanumérico,35,Son los caracteres alfanuméricos que identific...
21,tipo_asent,tipo_asent,alfanumérico,25,Es la clasificación que se da al asentamiento ...
22,nomb_asent,nomb_asent,alfanumérico,75,Es el sustantivo propio con el cual se identif...
23,tipoCenCom,tipoCenCom,alfanumérico,30,"Tipo de plaza, centro comercial, etcétera dond..."
24,nom_CenCom,nom_CenCom,alfanumérico,75,"Nombre de la plaza, centro comercial, etcétera..."
25,num_local,num_local,alfanumérico,35,Dato alfanumérico que corresponde al local en ...
26,cod_postal,cod_postal,alfanumérico,5,Clave numérica integrada por cinco dígitos est...
27,cve_ent,cve_ent,alfanumérico,2,Clave que identifica a la entidad federativa e...
28,entidad,entidad,alfanumérico,40,Es el sustantivo propio que identifica a la en...
29,cve_mun,cve_mun,alfanumérico,3,"Clave que identifica al Municipio estadístico,..."
30,municipio,municipio,alfanumérico,100,Es el sustantivo propio que identifica al Muni...
31,cve_loc,cve_loc,alfanumérico,4,Clave que identifica a la localidad estadístic...
32,localidad,localidad,alfanumérico,100,Es el sustantivo propio que identifica a la lo...
33,ageb,ageb,alfanumérico,4,Es la extensión territorial que corresponde a ...
34,manzana,manzana,alfanumérico,3,"Clave geoestadística de la manzana, compuesta ..."
35,telefono,telefono,alfanumérico,20,"Número telefónico, secuencia de dígitos que pe..."
36,correoelec,correoelec,alfanumérico,75,"Correo electrónico, es la serie de caracteres ..."
37,www,www,alfanumérico,75,Son los datos que permiten el acceso a informa...
38,tipoUniEco,tipoUniEco,alfanumérico,8,Grupo de categorías que sirve para identificar...
39,latitud,latitud,numérico,20,Es la distancia que existe entre la unidad eco...
40,longitud,longitud,numérico,20,Es la distancia que existe entre la unidad eco...
41,fecha_alta,fecha_alta,alfanumérico,15,Fecha en la que la unidad económica se integró...
42,clee,clee,numérico,75,Es la llave única de identificación estadístic...

In [ ]:
df_sinaloa=pd.read_csv('/content/drive/MyDrive/Proyecto_Dev.F/Restaurants_Location_ML/denue_inegi_25.csv', encoding='latin-1')
df=df_sinaloa[df_sinaloa['municipio']=='Culiacán']
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,clee,nom_estab,raz_social,codigo_act,nombre_act,per_ocu,tipo_vial,nom_vial,tipo_v_e_1,...,localidad,ageb,manzana,telefono,correoelec,www,tipoUniEco,latitud,longitud,fecha_alta
1,6757250,25006541380000181011000000U8,ABIOSA BIOTECNOLOGIA APLICADA,BIOTECNOLOGIA EN APLICADA SA DE CV,115111,Servicios de fumigación agrícola,6 a 10 personas,CALLE,JARDIN DE LAS ORQUIDEAS,CALLE,...,Culiacán Rosales ...,6022,9,NaN,NaN,NaN,Fijo,24.841465,-107.415983,2016-10
3,9046059,25006114119002783000000000U8,ACUA NAV SA DE CV,ACUA NAV SA DE CV,112511,Camaronicultura,6 a 10 personas,CALLE,Santa Clara,CALLE,...,Culiacán Rosales ...,6605,6,NaN,NaN,NaN,Fijo,24.757575,-107.462333,2019-11
4,6178400,25006112511000131001000000U2,ACUACOM,ACUACOM SC DE RL DE CV,112511,Camaronicultura,31 a 50 personas,BOULEVARD,CLEMENTE VIZCARRA,BOULEVARD,...,Culiacán Rosales ...,7393,3,NaN,NaN,NaN,Fijo,24.801720,-107.470765,2010-07
15,6178381,25006112511000383000000000U9,ACUACULTURA EL DORADO,NaN,112511,Camaronicultura,11 a 30 personas,CALLE,NATIVIDAD ÁLVAREZ CASTRO,CALLE,...,Eldorado ...,2180,18,NaN,NaN,NaN,Fijo,24.326929,-107.354540,2010-07
16,6178391,25006112511000413001000000U4,ACUAGRICOLA DEL NOROESTE,ACUAGRICOLA DEL NOROESTE SA DE CV,112511,Camaronicultura,31 a 50 personas,AVENIDA,GABINO VAZQUEZ,CALLE,...,Culiacán Rosales ...,4581,25,NaN,NaN,NaN,Fijo,24.795418,-107.406791,2010-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123637,8418639,25006931610003622000000000U6,ZONA ESCOLAR 007 DE PREESCOLAR,SECRETARIA DE EDUCACION PUBLICA Y CULTURA,931610,Actividades administrativas de instituciones d...,6 a 10 personas,CALLE,RIO MOCORITO,AVENIDA,...,Culiacán Rosales ...,0288,10,NaN,PREESCOLAR007@HOTMAIL.COM,NaN,Fijo,24.795261,-107.397752,2019-11
123638,8418638,25006931610003612000000000U7,ZONA ESCOLAR 008,SECRETARIOA DE EDUCACION PUBLICA Y CULTURA,931610,Actividades administrativas de instituciones d...,6 a 10 personas,CALLE,RIO MOCORITO,AVENIDA,...,Culiacán Rosales ...,0288,10,NaN,SUPERVISION08PRESC@HOTMAIL.COM,NaN,Fijo,24.795263,-107.397701,2019-11
123639,8236021,25006931610003422000000000U1,ZONA ESCOLAR 05 DE ESCUELAS SECUNDARIAS GENERA...,SECRETARIA DE EDUCACION PUBLICA,931610,Actividades administrativas de instituciones d...,6 a 10 personas,CALLE,RIO MOCORITO,AVENIDA,...,Culiacán Rosales ...,0288,10,NaN,SZONA05@HOTMAIL.COM,NaN,Fijo,24.795269,-107.397567,2019-11
123641,8418636,25006931610003593000000000U9,ZONA ESCOLAR 09 DE SECUNDARIAS GENERALES,SECRETARIA DE EDUCACION PUBLICA,931610,Actividades administrativas de instituciones d...,11 a 30 personas,CALLE,RIO MOCORITO,AVENIDA,...,Culiacán Rosales ...,0288,10,NaN,AZONA09@HOTMAIL.COM,NaN,Fijo,24.795267,-107.397627,2019-11
123642,8418637,25006931610003602000000000U8,ZONAESCOLAR 002 DE PREESCOLAR ESTATAL,SECRETARIA DE EDUACCION PUBLICA Y CULTURA,931610,Actividades administrativas de instituciones d...,6 a 10 personas,CALLE,RIO MOCORITO,AVENIDA,...,Culiacán Rosales ...,0288,10,NaN,SUPERVISIONDEPREESCOLAR002@HOTMAIL.COM,NaN,Fijo,24.795265,-107.397662,2019-11

In [ ]:
#Verificar que los nombres estén escritos correctamente
df['municipio'].unique()

array(['Culiacán'], dtype=object)

In [ ]:
df_poblacion=pd.read_csv('/content/drive/MyDrive/Proyecto_Dev.F/Restaurants_Location_ML/ITER_25CSV20.csv')
culiacan_pob=df_poblacion[df_poblacion['NOM_MUN']=='Culiacán']
culiacan_pob.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(929, 286)

### Descripción del dataset 
DENUE Culiacán

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42708 entries, 1 to 123642
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          42708 non-null  int64
 1   clee        42708 non-null  object
 2   nom_estab   42708 non-null  object
 3   raz_social  11361 non-null  object
 4   codigo_act  42708 non-null  int64
 5   nombre_act  42708 non-null  object
 6   per_ocu     42708 non-null  object
 7   tipo_vial   42511 non-null  object
 8   nom_vial    42707 non-null  object
 9   tipo_v_e_1  41763 non-null  object
 10  nom_v_e_1   41945 non-null  object
 11  tipo_v_e_2  41768 non-null  object
 12  nom_v_e_2   41950 non-null  object
 13  tipo_v_e_3  41830 non-null  object
 14  nom_v_e_3   41987 non-null  object
 15  numero_ext  32321 non-null  float64
 16  letra_ext   19182 non-null  object
 17  edificio    3225 non-null   object
 18  edificio_e  3457 non-null   object
 19  numero_int  14867 non-null  float64
 20  letra_int   1897 non-null   object
 21  tipo_asent  42573 non-null  object
 22  nomb_asent  42702 non-null  object
 23  tipoCenCom  3765 non-null   object
 24  nom_CenCom  3780 non-null   object
 25  num_local   3455 non-null   object
 26  cod_postal  42019 non-null  float64
 27  cve_ent     42708 non-null  int64
 28  entidad     42708 non-null  object
 29  cve_mun     42708 non-null  int64
 30  municipio   42708 non-null  object
 31  cve_loc     42708 non-null  int64
 32  localidad   42708 non-null  object
 33  ageb        42708 non-null  object
 34  manzana     42708 non-null  int64
 35  telefono    16826 non-null  object
 36  correoelec  6685 non-null   object
 37  www         3407 non-null   object
 38  tipoUniEco  42708 non-null  object
 39  latitud     42708 non-null  float64
 40  longitud    42708 non-null  float64
 41  fecha_alta  42708 non-null  object
dtypes: float64(5), int64(6), object(31)
memory usage: 14.0+ MB

In [ ]:
#Verificamos la cantidad de actidades economicas únicas hay dentro del municipio
len(list(df['nombre_act'].unique()))

713

In [ ]:
#A partir de lo anterior se re-clasifica las actividades economicas para tener tener una clasificación más general y nos permita emplearla en el modelo de ML
# Por ejemplo: Todas las intituciones relacionadas a la educación: como son Secundarias, primarios, entre otras se clasifican en "Educación"
# Ej: todos los tipos de restaurantes se clasificarán en "Restaurantes"

df['nombre_act']=df['nombre_act'].replace(['Bibliotecas y archivos del sector privado','Bibliotecas y archivos del sector público'],'Bibliotecas')
df['nombre_act']=df['nombre_act'].replace(['Transporte aéreo no regular','Alquiler de autobuses con chofer','Autotransporte foráneo con refrigeración','Autotransporte local con refrigeración','Comercio al por menor de automóviles y camionetas nuevos','Fabricación de automóviles y camionetas','Fabricación de camiones y tractocamiones', 'Fabricación de carrocerías y remolques','Otros servicios de intermediación para el transporte de carga','Comercio al por menor de automóviles y camionetas usados','Comercio al por menor de bicicletas','Comercio al por mayor de camiones','Comercio al por menor de motocicletas', 'Comercio al por menor de otros vehículos de motor','Fabricación de motocicletas','Fabricación de otro equipo de transporte','Alquiler de automóviles con chofer','Alquiler de automóviles sin chofer','Alquiler de camiones de carga sin chofer','Otro autotransporte foráneo de carga especializado', 'Otro autotransporte foráneo de carga general','Otro autotransporte local de carga especializado','Otro autotransporte local de carga general', 'Otros servicios relacionados con el transporte','Servicios de grúa', 'Otros servicios relacionados con el transporte aéreo','Transporte aéreo regular en líneas aéreas nacionales','Transporte colectivo foráneo de pasajeros de ruta fija','Transporte colectivo urbano y suburbano de pasajeros en autobuses de ruta fija','Transporte de gas natural por ductos','Transporte escolar y de personal','Transporte por ferrocarril','Transporte turístico por tierra'],'Transporte')
df['nombre_act']=df['nombre_act'].replace(['Servicios de emergencia comunitarios prestados por el sector público','Servicios de bancos de órganos, bancos de sangre y otros servicios auxiliares al tratamiento médico prestados por el sector privado', 'Servicios de bancos de órganos, bancos de sangre y otros servicios auxiliares al tratamiento médico prestados por el sector público','Servicios de ambulancias','Hospitales del sector privado de otras especialidades médicas','Hospitales del sector público de otras especialidades médicas','Hospitales generales del sector privado','Hospitales generales del sector público','Hospitales psiquiátricos y para el tratamiento por adicción del sector privado','Hospitales psiquiátricos y para el tratamiento por adicción del sector público','Laboratorios médicos y de diagnóstico del sector privado','Laboratorios médicos y de diagnóstico del sector público','Otros centros del sector privado para la atención de pacientes que no requieren hospitalización', 'Otros centros del sector público para la atención de pacientes que no requieren hospitalización', 'Otros consultorios del sector privado para el cuidado de la salud','Otros consultorios del sector público para el cuidado de la salud','Hospitales del sector privado de otras especialidades médicas','Hospitales del sector público de otras especialidades médicas','Hospitales generales del sector privado','Hospitales generales del sector público','Hospitales psiquiátricos y para el tratamiento por adicción del sector privado','Hospitales psiquiátricos y para el tratamiento por adicción del sector público','Centros del sector privado de atención médica externa para enfermos mentales y adictos','Centros del sector privado dedicados a la atención y cuidado diurno de ancianos y discapacitados','Centros del sector público de atención médica externa para enfermos mentales y adictos','Centros del sector público dedicados a la atención y cuidado diurno de ancianos y discapacitados','Clínicas de consultorios médicos del sector privado','Clínicas de consultorios médicos del sector público', 'Consultorios de medicina especializada del sector privado','Consultorios de medicina especializada del sector público','Consultorios de medicina general del sector privado','Consultorios de medicina general del sector público','Consultorios de nutriólogos y dietistas del sector privado','Consultorios de optometría','Consultorios de psicología del sector privado','Consultorios de psicología del sector público','Consultorios de quiropráctica del sector privado','Consultorios de quiropráctica del sector público','Consultorios del sector privado de audiología y de terapia ocupacional, física y del lenguaje','Consultorios del sector público de audiología y de terapia ocupacional, física y del lenguaje','Consultorios dentales del sector privado','Consultorios dentales del sector público'],'Servicios médicos')
df['nombre_act']=df['nombre_act'].replace(['Fondos de aseguramiento campesino', 'Compañías afianzadoras','Compañías de autofinanciamiento','Fondos de inversión','Agentes, ajustadores y gestores de seguros y fianzas','Otras instituciones de intermediación crediticia y financiera no bursátil','Servicios relacionados con la intermediación crediticia no bursátil', 'Fondos y fideicomisos financieros','Banca de desarrollo','Banca múltiple','Cajas de ahorro popular','Otras instituciones de ahorro y préstamo','Sociedades financieras de objeto múltiple','Uniones de crédito','Administración de cajas de pensión y de seguros independientes','Agencias de cobranza','Banca'],'Finanzas')
df['nombre_act']=df['nombre_act'].replace(['Escuelas comerciales y secretariales del sector privado','Otros servicios educativos proporcionados por el sector privado', 'Servicios de profesores particulares','Guarderías del sector privado','Guarderías del sector público','Servicios de apoyo a la educación','Servicios de apoyo a la educación','Escuelas de arte del sector privado','Escuelas de arte del sector público','Escuelas de computación del sector privado','Escuelas de deporte del sector privado','Escuelas de deporte del sector público','Escuelas de educación media superior del sector privado','Escuelas de educación media superior del sector público','Escuelas de educación media técnica terminal del sector privado','Escuelas de educación preescolar del sector privado','Escuelas de educación preescolar del sector público','Escuelas de educación primaria del sector privado','Escuelas de educación primaria del sector público','Escuelas de educación secundaria general del sector privado','Escuelas de educación secundaria general del sector público','Escuelas de educación secundaria técnica del sector público','Escuelas de educación superior del sector privado','Escuelas de educación superior del sector público','Escuelas de educación técnica superior del sector privado','Escuelas de idiomas del sector privado', 'Escuelas de idiomas del sector público', 'Escuelas del sector privado de educación para necesidades especiales','Escuelas del sector privado dedicadas a la enseñanza de oficios','Escuelas del sector privado que combinan diversos niveles de educación','Escuelas del sector público de educación para necesidades especiales','Escuelas del sector público dedicadas a la enseñanza de oficios','Escuelas del sector público que combinan diversos niveles de educación','Escuelas para la capacitación de ejecutivos del sector privado'],'Escuela')
df['nombre_act']=df['nombre_act'].replace(['Confección de otros accesorios y prendas de vestir no clasificados en otra parte','Fabricación de ropa exterior de tejido de punto','Comercio al por mayor de fibras, hilos y telas','Acabado de productos textiles', 'Comercio al por mayor de otros productos textiles','Confección de prendas de vestir sobre medida','Confección de sombreros y gorras','Confección en serie de disfraces y trajes típicos','Confección en serie de otra ropa exterior de materiales textiles','Confección en serie de ropa interior y de dormir','Confección en serie de uniformes','Reparación de calzado y otros artículos de piel y cuero','Confección, bordado y deshilado de productos textiles','Comercio al por menor de ropa de cuero y piel y de otros artículos de estos materiales','Comercio al por menor de ropa, excepto de bebé y lencería','Comercio al por menor de lencería','Comercio al por mayor de ropa, bisutería y accesorios de vestir','Alquiler de prendas de vestir','Comercio al por mayor de calzado','Comercio al por menor de calzado','Comercio al por menor de disfraces, vestimenta regional y vestidos de novia','Comercio al por menor de sombreros','Comercio al por menor de telas'],'Vestimenta')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por mayor de cemento, tabique y grava','Comercio al por mayor de otros materiales para la construcción, excepto de madera y metálicos','Fabricación de cemento y productos a base de cemento en plantas integradas','Realización de trabajos de carpintería en el lugar de la construcción','Alquiler de maquinaria y equipo para construcción, minería y actividades forestales','Colocación de muros falsos y aislamiento','Comercio al por mayor de madera para la construcción y la industria','Alquiler de maquinaria y equipo para mover, levantar y acomodar materiales','Autotransporte foráneo de materiales para la construcción','Autotransporte local de materiales para la construcción','Colocación de muros falsos y aislamiento', 'Comercio al por mayor de pintura','Comercio al por menor de materiales para la construcción en tiendas de autoservicio especializadas','Comercio al por menor de pintura','Comercio al por menor de pisos y recubrimientos cerámicos','Fabricación de otros productos de cemento y concreto','Fabricación de productos de madera para la construcción','Otras instalaciones y equipamiento en construcciones','Comercio al por mayor de vidrios y espejos', 'Fabricación de cal', 'Otros trabajos de acabados en edificaciones','Otros trabajos especializados para la construcción','Fabricación de concreto','Servicios de inspección de edificios','Preparación de terrenos para la construcción','Construcción de carreteras, puentes y similares','Construcción de obras de generación y conducción de energía eléctrica','Construcción de obras de urbanización','Construcción de obras para el tratamiento, distribución y suministro de agua y drenaje','Construcción de obras para telecomunicaciones','Construcción de obras para transporte eléctrico y ferroviario','Construcción de presas y represas','Construcción de sistemas de distribución de petróleo y gas','Construcción de sistemas de riego agrícola','Supervisión de construcción de otras obras de ingeniería civil','Supervisión de construcción de vías de comunicación','Supervisión de edificación residencial','Trabajos de albañilería','Trabajos de cimentaciones','Trabajos de pintura y otros cubrimientos de paredes'],'Construcción')
df['nombre_act']=df['nombre_act'].replace(['Restaurantes con servicio de preparación de alimentos a la carta o de comida corrida','Servicios de preparación de otros alimentos para consumo inmediato','Restaurantes con servicio de preparación de antojitos','Restaurantes con servicio de preparación de pescados y mariscos','Restaurantes con servicio de preparación de pizzas, hamburguesas, hot dogs y pollos rostizados para llevar','Restaurantes con servicio de preparación de tacos y tortas', 'Restaurantes de autoservicio', 'Restaurantes que preparan otro tipo de alimentos para llevar','Servicios de preparación de alimentos para ocasiones especiales','Servicios de preparación de otros alimentos para consumo inmediato'],'Restaurantes')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por menor de otros alimentos','Preparación y envasado de té','Purificación y embotellado de agua','Servicios de comedor para empresas e instituciones','Comercio al por mayor de embutidos','Servicios de alimentación comunitarios prestados por el sector privado','Servicios de alimentación comunitarios prestados por el sector público','Comercio al por mayor de semillas y granos alimenticios, especias y chiles secos','Comercio al por mayor de abarrotes','Comercio al por mayor de carne de aves','Comercio al por mayor de carnes rojas','Comercio al por mayor de conservas alimenticias','Comercio al por mayor de frutas y verduras frescas','Comercio al por mayor de leche y otros productos lácteos','Comercio al por mayor de otros alimentos','Comercio al por mayor de pan y pasteles','Comercio al por mayor de pescados y mariscos', 'Comercio al por mayor de huevo', 'Comercio al por mayor de ganado y aves en pie','Comercio al por menor de carne de aves','Comercio al por menor de carnes rojas','Comercio al por menor de dulces y materias primas para repostería','Comercio al por menor de frutas y verduras frescas', 'Comercio al por menor de leche, otros productos lácteos y embutidos','Comercio al por menor de paletas de hielo y helados','Comercio al por menor de pescados y mariscos','Comercio al por menor de semillas y granos alimenticios, especias y chiles secos','Elaboración de aceites y grasas vegetales comestibles','Elaboración de alimentos frescos para consumo inmediato', 'Elaboración de alimentos para animales','Elaboración de azúcar de caña', 'Elaboración de bebidas alcohólicas a base de uva','Elaboración de botanas','Elaboración de concentrados, polvos, jarabes y esencias de sabor para bebidas','Elaboración de condimentos y aderezos','Elaboración de derivados y fermentos lácteos', 'Elaboración de dulces, chicles y productos de confitería que no sean de chocolate', 'Elaboración de galletas y pastas para sopa','Elaboración de harina de maíz','Elaboración de harina de trigo','Elaboración de helados y paletas', 'Elaboración de hielo', 'Elaboración de leche líquida', 'Elaboración de otros alimentos', 'Elaboración de refrescos y otras bebidas no alcohólicas', 'Elaboración de ron y otras bebidas destiladas de caña','Elaboración de sidra y otras bebidas fermentadas','Elaboración de tortillas de harina de trigo de forma tradicional', 'Elaboración de tortillas de maíz y molienda de nixtamal','Cafeterías, fuentes de sodas, neverías, refresquerías y similares','Comercio al por mayor de bebidas no alcohólicas y hielo', 'Comercio al por menor de bebidas no alcohólicas y hielo','Comercio al por mayor de botanas y frituras'],'Alimentos & Bebidas')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por menor de artículos ortopédicos','Fabricación de equipo no electrónico para uso médico, dental y para laboratorio', 'Comercio al por mayor de mobiliario, equipo e instrumental médico y de laboratorio','Fabricación de artículos oftálmicos','Comercio al por mayor de productos farmacéuticos', 'Comercio al por mayor de productos químicos para la industria farmacéutica y para otro uso industrial','Comercio al por menor de productos naturistas, medicamentos homeopáticos y de complementos alimenticios','Fabricación de preparaciones farmacéuticas','Farmacias sin minisúper',],'Productos médicos')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por mayor de maquinaria y equipo agropecuario, forestal y para la pesca','Fabricación de maquinaria y equipo para envasar y empacar','Fabricación de otra maquinaria y equipo para el comercio y los servicios','Fabricación de otra maquinaria y equipo para la industria en general','Fabricación de maquinaria y equipo para la industria del hule y del plástico','Fabricación de maquinaria y equipo para levantar y trasladar','Fabricación de maquinaria y equipo para otras industrias manufactureras','Maquinado de piezas metálicas para maquinaria y equipo en general','Comercio al por mayor de maquinaria y equipo para la construcción y la minería','Comercio al por mayor de maquinaria y equipo para la industria manufacturera','Comercio al por mayor de maquinaria y equipo para otros servicios y para actividades comerciales','Comercio al por mayor de otra maquinaria y equipo de uso general','Comercio al por mayor de materiales metálicos para la construcción y la manufactura'],'Maquinaria y Equipos')
df['nombre_act']=df['nombre_act'].replace(['Comercialización de energía eléctrica','Generación de electricidad a partir de combustibles fósiles','Transmisión de energía eléctrica'],'Energía')
df['nombre_act']=df['nombre_act'].replace(['Servicios postales','Agencias de correo directo','Servicios de mensajería y paquetería foránea','Servicios de mensajería y paquetería local'],'Correo postal')
df['nombre_act']=df['nombre_act'].replace(['Venta de billetes de lotería, pronósticos deportivos y otros boletos de sorteo','Otros juegos de azar'],'Juegos de azar')
df['nombre_act']=df['nombre_act'].replace(['Jardines botánicos y zoológicos del sector privado','Jardines botánicos y zoológicos del sector público','Parques acuáticos y balnearios del sector privado','Parques acuáticos y balnearios del sector público','Parques de diversiones y temáticos del sector privado','Parques de diversiones y temáticos del sector público'],'Parques & áreas verdes')
df['nombre_act']=df['nombre_act'].replace(['Agencias de anuncios publicitarios','Comercio al por menor de revistas y periódicos','Comercio al por menor exclusivamente a través de Internet, y catálogos impresos, televisión y similares','Fabricación de otros equipos de comunicación','Impresión de formas continuas y otros impresos','Impresión de libros, periódicos y revistas','Distribución de material publicitario','Edición de otros materiales integrada con la impresión', 'Operadores de servicios de telecomunicaciones alámbricas','Operadores de servicios de telecomunicaciones inalámbricas','Operadores de servicios de telecomunicaciones vía satélite','Edición de periódicos integrada con la impresión','Otros servicios de telecomunicaciones','Edición de revistas y otras publicaciones periódicas','Edición de revistas y otras publicaciones periódicas integrada con la impresión','Servicios de recepción de llamadas telefónicas y promoción por teléfono','Transmisión de programas de radio','Transmisión de programas de televisión','Servicios de rotulación y otros servicios de publicidad','Agencias de publicidad','Agencias de representación de medios','Agencias noticiosas'],'Medios de comunicación')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por mayor de combustibles de uso industrial','Comercio al por menor de gas L. P. en cilindros y para tanques estacionarios','Comercio al por menor de gas L. P. en estaciones de carburación', 'Comercio al por menor de gasolina y diesel','Comercio al por menor de otros combustibles','Comercio al por menor en estaciones de gas natural vehicular'],'Combustibles')
df['nombre_act']=df['nombre_act'].replace(['Farmacias con minisúper','Comercio al por menor en minisupers','Comercio al por menor en supermercados','Comercio al por menor en tiendas de abarrotes, ultramarinos y misceláneas','Comercio al por menor en tiendas de artesanías','Comercio al por menor en tiendas departamentales'],'Tiendas')
df['nombre_act']=df['nombre_act'].replace([ 'Departamentos y casas amueblados con servicios de hotelería','Hoteles con otros servicios integrados','Hoteles sin otros servicios integrados','Moteles','Pensiones y casas de huéspedes','Asilos y otras residencias del sector privado para el cuidado de ancianos','Asilos y otras residencias del sector público para el cuidado de ancianos','Orfanatos y otras residencias de asistencia social del sector privado','Orfanatos y otras residencias de asistencia social del sector público','Refugios temporales comunitarios del sector privado','Refugios temporales comunitarios del sector público','Residencias del sector privado con cuidados de enfermeras para enfermos convalecientes, en rehabilitación, incurables y terminales','Residencias del sector privado para el cuidado de personas con problemas de trastorno mental y adicción', 'Residencias del sector público para el cuidado de personas con problemas de trastorno mental y adicción'],'Hospedaje')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por menor de artículos religiosos','Asociaciones y organizaciones religiosas'],'Religión')
df['nombre_act']=df['nombre_act'].replace(['Clubes o ligas de aficionados','Clubes deportivos del sector privado','Clubes deportivos del sector público','Comercio al por mayor de artículos y aparatos deportivos','Comercio al por menor de artículos y aparatos deportivos','Equipos deportivos profesionales','Fabricación de artículos deportivos'],'Deportes')
df['nombre_act']=df['nombre_act'].replace(['Pesca de camarón','Servicios de fumigación agrícola','Intermediación de comercio al por mayor de productos agropecuarios, excepto a través de Internet y de otros medios electrónicos','Matanza de ganado, aves y otros animales comestibles','Servicios relacionados con la cría y explotación de animales','Pesca y captura de peces, crustáceos, moluscos y otras especies','Piscicultura y otra acuicultura, excepto camaronicultura','Preparación de embutidos y otras conservas de carne de ganado, aves y otros animales comestibles','Preparación y envasado de pescados y mariscos','Almacenamiento de productos agrícolas que no requieren refrigeración','Alquiler de maquinaria y equipo agropecuario, pesquero y para la industria manufacturera','Autotransporte foráneo de productos agrícolas sin refrigeración','Autotransporte local de productos agrícolas sin refrigeración','Beneficio de productos agrícolas', 'Comercio al por mayor de fertilizantes, plaguicidas y semillas para siembra','Beneficio del arroz', 'Camaronicultura','Corte y empacado de carne de ganado, aves y otros animales comestibles','Despepite de algodón', 'Fabricación de fertilizantes','Fabricación de maquinaria y equipo agrícola','Fabricación de pesticidas y otros agroquímicos, excepto fertilizantes','Otros servicios relacionados con la agricultura'],'Sector primario')
df['nombre_act']=df['nombre_act'].replace(['Autotransporte foráneo de materiales y residuos peligrosos', 'Autotransporte local de materiales y residuos peligrosos','Comercio al por mayor de desechos de papel y de cartón', 'Comercio al por mayor de otros materiales de desecho','Manejo de residuos peligrosos y servicios de remediación a zonas dañadas por materiales o residuos peligrosos','Otros servicios de manejo de residuos por el sector privado', 'Comercio al por mayor de desechos de plástico','Comercio al por mayor de desechos metálicos','Recolección de residuos no peligrosos por el sector privado'],'Desechos')
df['nombre_act']=df['nombre_act'].replace([ 'Comercio al por mayor de vinos y licores','Comercio al por mayor de cerveza','Comercio al por menor de cerveza','Comercio al por menor de vinos y licores'],'Licores')
df['nombre_act']=df['nombre_act'].replace([ 'Reparación y mantenimiento de maquinaria y equipo agropecuario y forestal','Reparación y mantenimiento de maquinaria y equipo comercial y de servicios','Reparación y mantenimiento de maquinaria y equipo industrial','Alineación y balanceo de automóviles y camiones', 'Comercio al por mayor de partes y refacciones nuevas para automóviles, camionetas y camiones','Otros servicios de reparación y mantenimiento de automóviles y camiones','Tapicería de automóviles y camiones','Comercio al por menor de aceites y grasas lubricantes, aditivos y similares para vehículos de motor','Comercio al por menor de partes y refacciones nuevas para automóviles, camionetas y camiones','Hojalatería y pintura de automóviles y camiones', 'Comercio al por menor de partes y refacciones usadas para automóviles, camionetas y camiones', 'Otras reparaciones mecánicas de automóviles y camiones','Rectificación de partes de motor de automóviles y camiones','Reparación de suspensiones de automóviles y camiones','Reparación de transmisiones de automóviles y camiones','Reparación del sistema eléctrico de automóviles y camiones','Reparación mecánica en general de automóviles y camiones','Reparación menor de llantas', 'Reparación y mantenimiento de bicicletas', 'Reparación y mantenimiento de motocicletas','Servicios de blindaje y de adaptación de automóviles y camiones', 'Servicios de báscula para el transporte y otros servicios relacionados con el transporte por carretera'],'Reparación vehiculos')
df['nombre_act']=df['nombre_act'].replace(['Comercio al por mayor de medicamentos veterinarios y alimentos para animales, excepto mascotas','Comercio al por menor de mascotas','Servicios veterinarios para mascotas prestados por el sector privado'],'Mascotas')

In [ ]:
#Despues de obtner las clasificación que deseamos incluir en el analisis, verificamos cuantos valores únicos hay.
sorted(list(df['nombre_act'].unique()))
len(sorted(list(df['nombre_act'].unique())))

340

In [ ]:
#Clasificación general
est=['Bibliotecas', 'Juegos de azar', 'Religión','Energía','Parques & áreas verdes','Correo postal','Medios de comunicación','Tiendas','Combustibles','Finanzas','Productos médicos','Maquinaria y Equipos','Restaurantes','Transporte','Construcción','Hospedaje','Vestimenta','Escuela','Alimentos & Bebidas','Servicios médicos','Deportes','Desechos','Sector primario', 'Licores','Reparación vehiculos', 'Mascotas']

In [ ]:
#Los valores que no entran en la actividad se consideran "Otro" tipo de actividad
df['nombre_act']=df['nombre_act'].apply(lambda x: x if x in est else 'Otro')
df['nombre_act'].unique()

In [ ]:
df_establecimientos_tipo= pd.get_dummies(df['nombre_act'])
df_establecimientos_tipo.drop(columns='Otro', inplace=True)  #Eliminamos la columna "Otro" porque no vamos a considerar dichas instituciones en el análisis
df_establecimientos_tipo

,Alimentos & Bebidas,Bibliotecas,Combustibles,Construcción,Correo postal,Deportes,Desechos,Energía,Escuela,Finanzas,...,Parques & áreas verdes,Productos médicos,Religión,Reparación vehiculos,Restaurantes,Sector primario,Servicios médicos,Tiendas,Transporte,Vestimenta
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123637,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123638,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123639,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123641,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
123642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Variable objetivo: Restaurantes de "Sushi" 
df_sushi=df[df.nom_estab.str.contains('sushi', case=False)]
sushis=list(df_sushi['nom_estab'].unique())  #Lista de restaurantes de sushi en el municipio
sushis[1:10]

['TODO PARA SUSHI',
 'LUTER SUSHI',
 'SIN SIX TOSHIRO SUSHI BAR',
 'SIN SIX TOSHIRO SUSHI-BAR',
 'SIX SUC_SIN SIX TOSHIRO SUSHI-BAR',
 'SUSHI FACTORY',
 'AHOYUN SUSHI',
 'AKAI SUSHI',
 'AKALL SUSHI']

In [ ]:
df['nom_estab']=df['nom_estab'].apply(lambda x: 1 if x in sushis else 0)
df['nom_estab'].unique()

In [ ]:
df['sushi']=df['nom_estab']  #Agregar columna con los valores de la "variable objetivo"

In [ ]:
#Valores únicos en la categoría de: personal ocupado por establecimiento
df['per_ocu'].unique()

array(['6 a 10 personas', '31 a 50 personas', '11 a 30 personas',
       '0 a 5 personas', '51 a 100 personas', '251 y más personas',
       '101 a 250 personas'], dtype=object)

In [ ]:
#Cambiar personal ocupado por establecimiento a número
df['per_ocu']=df['per_ocu'].replace(['0 a 5 personas', '6 a 10 personas', '11 a 30 personas',
       '51 a 100 personas', '31 a 50 personas', '101 a 250 personas',
       '251 y más personas'],[1,2,3,4,5,6,7])

In [ ]:
#Tipo de centro comercial en donde está ubicado establecimiento
df['tipoCenCom'].fillna('NO PLAZA', inplace=True)
df['tipoCenCom'].unique()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

array(['NO PLAZA', 'EDIFICIO COMERCIAL Y DE SERVICIOS',
       'CENTRO Y PLAZA COMERCIAL', 'PARQUE INDUSTRIAL',
       'OTRO CONGLOMERADO', 'CENTRAL DE ABASTO', 'MERCADO PUBLICO',
       'PASAJE Y ANDADOR COMERCIAL', 'CIUDAD INDUSTRIAL', 'AEROPUERTO',
       'CENTRAL CAMIONERA', 'TIANGUIS, BAZAR O PULGA',
       'HOSPITAL, CENTRO MEDICO O CLINICA', 'PARQUE RECREATIVO'],
      dtype=object)

In [ ]:
df_lugares = pd.get_dummies(df['tipoCenCom'])
df_lugares.head()

,AEROPUERTO,CENTRAL CAMIONERA,CENTRAL DE ABASTO,CENTRO Y PLAZA COMERCIAL,CIUDAD INDUSTRIAL,EDIFICIO COMERCIAL Y DE SERVICIOS,"HOSPITAL, CENTRO MEDICO O CLINICA",MERCADO PUBLICO,NO PLAZA,OTRO CONGLOMERADO,PARQUE INDUSTRIAL,PARQUE RECREATIVO,PASAJE Y ANDADOR COMERCIAL,"TIANGUIS, BAZAR O PULGA"
1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0,0
15,0,0,0,0,0,0,0,0,1,0,0,0,0,0
16,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
#Redes sociales

#Correo eléctronico 
df['correoelec'].fillna('@none', inplace=True) 
correos=df["correoelec"].str.split('@', expand=True)[1] #Reemplazar correos privados, los correos publicos y compañías que no tienen correo
df['correoelec'] = correos.apply(lambda x: 1 if x in ['HOTMAIL.COM','OUTLOOK.COM','YAHOO.COM.MX','GMAIL.COM','LIVE.COM.MX', 
'YAHOO.COM', 'HOTMAIL.CO','HOTMAI.COM', 'LIVE.COM','HOTMAIL.ES','GIMAIL.COM','HOTMAIL.COM.MX','HOTM.COM',
 'yahoo.com.mx','OUTLOOK.ES','GUIMAIL.COM','hotmail.com','AULOOK.COM', 'OUTLOK.COM','GIMEIL.COM','HOTMIAL.COM','YAHOOM.COM',
  'YOHOOO.COM.MX','HORMAIL.COM', 'HOTIMAIL.COM','HOTAMIAL.COM','YAHU.COM','HOTMJAIL.COM','OUTLOCK.ES','HOTAMIL.COM','HOTMAIL..COM',
 'HOTMALL.COM','GEMAIL.COM','AUTLOOK.COM','HORTMAIL.COM','HOTMAL.COM','HOMAEL.COM','GAMAI.COM','GMAI.COM','OUTLOCK.COM', 'GMAL.COM',
'.COM.MX', 'HTMAIL.CO','GMAIL.COMM', 'HTMAIL.COM','HOLTMAIL.COM','GAMAIL.COM', 'GMAIL.COM.MX','OTMAIL.COM', 'HOTMAILCOM.MX','HOMAIL.ES',
'ouctlock.com','GMSIL.COM','OULOK.COM','OUCLOOK.COM','OUTLOOK.COM.MX','YAOO.COM', 'HOITMAIL.COM','FHOTMAIL.COM'] else (0 if x=='none' else 2))
#df['correoelec'].unique()  Verificación

In [ ]:
#Telefono
df['telefono'].fillna(0, inplace=True)
df['telefono']=df['telefono'].apply(lambda x: 0 if x==0 else 1)  #Hacer dummies para establecimientos con número y sin número

In [ ]:
#página web [www]
df['www'].fillna('No tiene', inplace=True)
df['Página web']=df['www'].apply(lambda x: 0 if x=='No tiene' else 1) #Hacer dummies para establecimientos con página web y sin ella

In [ ]:
tipo_establecimiento=pd.get_dummies(df['tipoUniEco'])
tipo_establecimiento

        Fijo  Semifijo
1          1         0
3          1         0
4          1         0
15         1         0
16         1         0
...      ...       ...
123637     1         0
123638     1         0
123639     1         0
123641     1         0
123642     1         0

[42708 rows x 2 columns]

In [ ]:
#"Variable por la cual vamos a agrupar" : Cpodigo postal
df['cod_postal'].fillna(0, inplace=True)
df['postal'] = df['cod_postal'].astype(int)  #Transformarmos float a int
len(df['postal'].unique())

In [ ]:
#Quitar espacios extras al final de la columna localidades y reemplazar datos
df['localidades']=df['localidad'].str.strip().replace('Eldorado','El Dorado')
df['localidades'].unique()

In [ ]:
act=df[['postal','localidades','sushi','correoelec','Página web','telefono','per_ocu']]
act=pd.concat([act,df_establecimientos_tipo,tipo_establecimiento,df_lugares],axis=1)
act.shape

(42708, 49)

**Información de la población**

> INEGI :[Principales resultados por AGEB y manzana urbana](https://www.inegi.org.mx/programas/ccpv/2020/#Microdatos)

In [ ]:
# Limpiando dataset de datos de la población en Culiacán
culiacan_pob= culiacan_pob.replace(['N/D','*'],0)  #Reemplazando datos vacios o sin datos por 0
culiacan_pob

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,LOC,NOM_LOC,LONGITUD,LATITUD,ALTITUD,POBTOT,...,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCINT,VPH_SINTIC,TAMLOC
1209,25,Sinaloa,6,Culiacán,0,Total del Municipio,NaN,NaN,NaN,1003530,...,267476,175867,144255,76748,44789,7810,9200,88943,1758,0
1210,25,Sinaloa,6,Culiacán,1,Culiacán Rosales,"107°23'37.522"" W","24°48'31.709"" N",0057,808416,...,222844,163381,119171,73714,42575,5252,5193,55334,811,13
1211,25,Sinaloa,6,Culiacán,2,Rancho el Sauz,"107°23'39.310"" W","24°40'43.585"" N",0027,2,...,0,0,0,0,0,0,0,0,0,1
1212,25,Sinaloa,6,Culiacán,3,El Chipil,"107°21'57.131"" W","24°43'58.360"" N",0078,2,...,0,0,0,0,0,0,0,0,0,1
1213,25,Sinaloa,6,Culiacán,4,Callejón de Hacienda Redo,"107°21'50.547"" W","24°18'24.813"" N",0006,4,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2133,25,Sinaloa,6,Culiacán,3542,El Portón,"107°27'09.697"" W","25°06'38.880"" N",0240,7,...,0,0,0,0,0,0,0,0,0,1
2134,25,Sinaloa,6,Culiacán,3543,Rancho Arjos,"107°26'46.101"" W","24°34'08.683"" N",0010,5,...,0,0,0,0,0,0,0,0,0,1
2135,25,Sinaloa,6,Culiacán,3545,Rancho Santa Blanca [Granja Porcina],"107°33'02.353"" W","24°54'14.503"" N",0049,4,...,0,0,0,0,0,0,0,0,0,1
2136,25,Sinaloa,6,Culiacán,9998,Localidades de una vivienda,NaN,NaN,NaN,5279,...,351,46,139,11,14,29,37,314,10,0
2137,25,Sinaloa,6,Culiacán,9999,Localidades de dos viviendas,NaN,NaN,NaN,1128,...,122,12,53,4,4,16,18,122,11,0

In [ ]:
culiacan_pob['Poblacion_total']=culiacan_pob['POBTOT'].astype(int)  #Cantidad de personas por localidad
culiacan_pob['Personas con discapacidad']=culiacan_pob['PCON_DISC'].astype(int) #Personas con alguna discapacidad
culiacan_pob['Escolaridad promedio']=culiacan_pob['GRAPROES'].astype(float) #Escolaridad promedio
culiacan_pob['Población sin seguro']=culiacan_pob['PSINDER'].astype(int)  #Población sin ningún seguro social
culiacan_pob['Población con seguro']=culiacan_pob['PDER_SS'].astype(int)  #Población con algún tipo de seguro social
culiacan_pob['Población con religión']=culiacan_pob['PCATOLICA'].astype(int)+culiacan_pob['PRO_CRIEVA'].astype(int)+culiacan_pob['POTRAS_REL'].astype(int)  #Personas con alfuna afilación religiosa
culiacan_pob['Población sin religion']=culiacan_pob['PSIN_RELIG'].astype(int) #Personas ateas
culiacan_pob['Viviendas habitadas']=culiacan_pob['TVIVHAB'].astype(int) #Cantidad de viviendas habitadas
culiacan_pob['localidades']=culiacan_pob['NOM_LOC']

In [ ]:
#Columnas que nos interesa mantener del dataset culiacan_pob
pob=culiacan_pob[['localidades','Poblacion_total','Personas con discapacidad','Escolaridad promedio','Población sin seguro','Población con seguro','Población con religión','Población sin religion','Viviendas habitadas']]
pob

,localidades,Poblacion_total,Personas con discapacidad,Escolaridad promedio,Población sin seguro,Población con seguro,Población con religión,Población sin religion,Viviendas habitadas
1209,Total del Municipio,1003530,41959,11.06,202978,797932,876051,124543,281726
1210,Culiacán Rosales,808416,31810,11.75,168516,637911,708010,98172,232201
1211,Rancho el Sauz,2,0,0.00,0,0,0,0,1
1212,El Chipil,2,0,0.00,0,0,0,0,1
1213,Callejón de Hacienda Redo,4,0,0.00,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
2133,El Portón,7,0,0.00,0,0,0,0,1
2134,Rancho Arjos,5,0,0.00,0,0,0,0,1
2135,Rancho Santa Blanca [Granja Porcina],4,0,0.00,0,0,0,0,1
2136,Localidades de una vivienda,5279,112,5.72,660,4611,4379,887,416
2137,Localidades de dos viviendas,1128,38,6.16,171,956,914,213,150

In [ ]:
#Filtrar culiacan población con las localidades que contamos en dataset de act. esconomicas
localidades_1=sorted(list(act['localidades'].unique()))
pob['pop_localidad']=pob['localidades'].apply(lambda x: True if x in localidades_1 else False)
pop= pob.drop(pob[pob['pop_localidad'] ==False].index)
pob_culiacan=pob.drop(['pop_localidad'], axis=1) 
pob_culiacan  #Dataset listo para unir

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,localidades,Poblacion_total,Personas con discapacidad,Escolaridad promedio,Población sin seguro,Población con seguro,Población con religión,Población sin religion,Viviendas habitadas
1209,Total del Municipio,1003530,41959,11.06,202978,797932,876051,124543,281726
1210,Culiacán Rosales,808416,31810,11.75,168516,637911,708010,98172,232201
1211,Rancho el Sauz,2,0,0.00,0,0,0,0,1
1212,El Chipil,2,0,0.00,0,0,0,0,1
1213,Callejón de Hacienda Redo,4,0,0.00,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
2133,El Portón,7,0,0.00,0,0,0,0,1
2134,Rancho Arjos,5,0,0.00,0,0,0,0,1
2135,Rancho Santa Blanca [Granja Porcina],4,0,0.00,0,0,0,0,1
2136,Localidades de una vivienda,5279,112,5.72,660,4611,4379,887,416
2137,Localidades de dos viviendas,1128,38,6.16,171,956,914,213,150

## Unir dos datasets


*   Actividades economicas
*   Datos población

In [ ]:
localidad_pob=sorted(list(pob_culiacan['localidades'].unique()))
act['act_loc']=act['localidades'].apply(lambda x: True if x in localidad_pob else False)
act= act.drop(act[act['act_loc'] ==False].index)
act_culiacan=act.drop(['act_loc'], axis=1) 
act_culiacan

,postal,localidades,sushi,correoelec,Página web,telefono,per_ocu,Alimentos & Bebidas,Bibliotecas,Combustibles,...,CIUDAD INDUSTRIAL,EDIFICIO COMERCIAL Y DE SERVICIOS,"HOSPITAL, CENTRO MEDICO O CLINICA",MERCADO PUBLICO,NO PLAZA,OTRO CONGLOMERADO,PARQUE INDUSTRIAL,PARQUE RECREATIVO,PASAJE Y ANDADOR COMERCIAL,"TIANGUIS, BAZAR O PULGA"
1,80029,Culiacán Rosales,0,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,80140,Culiacán Rosales,0,0,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,80059,Culiacán Rosales,0,0,0,0,5,0,0,0,...,0,0,0,0,1,0,0,0,0,0
16,80128,Culiacán Rosales,0,0,0,0,5,0,0,0,...,0,0,0,0,1,0,0,0,0,0
32,80144,Culiacán Rosales,0,0,0,0,3,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123637,80220,Culiacán Rosales,0,1,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
123638,80220,Culiacán Rosales,0,1,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
123639,80220,Culiacán Rosales,0,1,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0
123641,80220,Culiacán Rosales,0,1,0,0,3,0,0,0,...,0,0,0,0,1,0,0,0,0,0
123642,80220,Culiacán Rosales,0,1,0,0,2,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
culiacan=act_culiacan.merge(pob_culiacan, on="localidades")
culiacan

,postal,localidades,sushi,correoelec,Página web,telefono,per_ocu,Alimentos & Bebidas,Bibliotecas,Combustibles,...,PASAJE Y ANDADOR COMERCIAL,"TIANGUIS, BAZAR O PULGA",Poblacion_total,Personas con discapacidad,Escolaridad promedio,Población sin seguro,Población con seguro,Población con religión,Población sin religion,Viviendas habitadas
0,80029,Culiacán Rosales,0,0,0,0,2,0,0,0,...,0,0,808416,31810,11.75,168516,637911,708010,98172,232201
1,80140,Culiacán Rosales,0,0,0,0,2,0,0,0,...,0,0,808416,31810,11.75,168516,637911,708010,98172,232201
2,80059,Culiacán Rosales,0,0,0,0,5,0,0,0,...,0,0,808416,31810,11.75,168516,637911,708010,98172,232201
3,80128,Culiacán Rosales,0,0,0,0,5,0,0,0,...,0,0,808416,31810,11.75,168516,637911,708010,98172,232201
4,80144,Culiacán Rosales,0,0,0,0,3,0,0,0,...,0,0,808416,31810,11.75,168516,637911,708010,98172,232201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41773,80450,Navito,0,0,0,1,2,0,0,0,...,0,0,292,4,7.76,18,274,267,25,67
41774,80300,La Palapa,0,0,0,0,1,0,0,0,...,0,0,3,0,0.00,0,0,0,0,1
41775,80430,Solidaridad Campesina,0,0,0,0,1,0,0,0,...,0,0,27,4,4.78,2,25,16,11,10
41776,80300,El Quemadito (La Villa),0,0,0,0,1,0,0,0,...,0,0,30,8,4.27,1,29,26,4,9
41777,80150,Inmobiliaria Sasha,0,0,0,1,1,0,0,0,...,0,0,4,0,0.00,0,0,0,0,1

In [ ]:
culiacan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41778 entries, 0 to 41777
Data columns (total 57 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   postal                             41778 non-null  int64
 1   localidades                        41778 non-null  object
 2   sushi                              41778 non-null  int64
 3   correoelec                         41778 non-null  int64
 4   Página web                         41778 non-null  int64
 5   telefono                           41778 non-null  int64
 6   per_ocu                            41778 non-null  int64
 7   Alimentos & Bebidas                41778 non-null  uint8
 8   Bibliotecas                        41778 non-null  uint8
 9   Combustibles                       41778 non-null  uint8
 10  Construcción                       41778 non-null  uint8
 11  Correo postal                      41778 non-null  uint8
 12  Deportes                           41778 non-null  uint8
 13  Desechos                           41778 non-null  uint8
 14  Energía                            41778 non-null  uint8
 15  Escuela                            41778 non-null  uint8
 16  Finanzas                           41778 non-null  uint8
 17  Hospedaje                          41778 non-null  uint8
 18  Juegos de azar                     41778 non-null  uint8
 19  Licores                            41778 non-null  uint8
 20  Maquinaria y Equipos               41778 non-null  uint8
 21  Mascotas                           41778 non-null  uint8
 22  Medios de comunicación             41778 non-null  uint8
 23  Parques & áreas verdes             41778 non-null  uint8
 24  Productos médicos                  41778 non-null  uint8
 25  Religión                           41778 non-null  uint8
 26  Reparación vehiculos               41778 non-null  uint8
 27  Restaurantes                       41778 non-null  uint8
 28  Sector primario                    41778 non-null  uint8
 29  Servicios médicos                  41778 non-null  uint8
 30  Tiendas                            41778 non-null  uint8
 31  Transporte                         41778 non-null  uint8
 32  Vestimenta                         41778 non-null  uint8
 33  Fijo                               41778 non-null  uint8
 34  Semifijo                           41778 non-null  uint8
 35  AEROPUERTO                         41778 non-null  uint8
 36  CENTRAL CAMIONERA                  41778 non-null  uint8
 37  CENTRAL DE ABASTO                  41778 non-null  uint8
 38  CENTRO Y PLAZA COMERCIAL           41778 non-null  uint8
 39  CIUDAD INDUSTRIAL                  41778 non-null  uint8
 40  EDIFICIO COMERCIAL Y DE SERVICIOS  41778 non-null  uint8
 41  HOSPITAL, CENTRO MEDICO O CLINICA  41778 non-null  uint8
 42  MERCADO PUBLICO                    41778 non-null  uint8
 43  NO PLAZA                           41778 non-null  uint8
 44  OTRO CONGLOMERADO                  41778 non-null  uint8
 45  PARQUE INDUSTRIAL                  41778 non-null  uint8
 46  PARQUE RECREATIVO                  41778 non-null  uint8
 47  PASAJE Y ANDADOR COMERCIAL         41778 non-null  uint8
 48  TIANGUIS, BAZAR O PULGA            41778 non-null  uint8
 49  Poblacion_total                    41778 non-null  int64
 50  Personas con discapacidad          41778 non-null  int64
 51  Escolaridad promedio               41778 non-null  float64
 52  Población sin seguro               41778 non-null  int64
 53  Población con seguro               41778 non-null  int64
 54  Población con religión             41778 non-null  int64
 55  Población sin religion             41778 non-null  int64
 56  Viviendas habitadas                41778 non-null  int64
dtypes: float64(1), int64(13), object(1), uint8(42)
memory usage: 6.8+ MB

In [ ]:
culiacan=culiacan.groupby(by=['postal']).sum().reset_index()
culiacan #Dataset que se va a emplear para trabajar el modelo de ML

,postal,sushi,correoelec,Página web,telefono,per_ocu,Alimentos & Bebidas,Bibliotecas,Combustibles,Construcción,...,PASAJE Y ANDADOR COMERCIAL,"TIANGUIS, BAZAR O PULGA",Poblacion_total,Personas con discapacidad,Escolaridad promedio,Población sin seguro,Población con seguro,Población con religión,Población sin religion,Viviendas habitadas
0,0,6,278,94,212,1148,74.0,0.0,14.0,30.0,...,0.0,0.0,505341320,19890554,7728.44,105316257,398782570,442543446,61401753,145129099
1,8001,0,0,0,0,3,1.0,0.0,0.0,0.0,...,0.0,0.0,808416,31810,11.75,168516,637911,708010,98172,232201
2,80000,10,1670,570,2572,8086,298.0,8.0,9.0,36.0,...,1.0,33.0,4395427048,172954123,63996.96,916235360,3468377381,3849509310,533771321,1262495121
3,80001,0,0,0,0,2,0.0,0.0,0.0,0.0,...,0.0,0.0,808561,31817,19.43,168540,638032,708124,98203,232244
4,80002,0,0,0,0,3,0.0,0.0,0.0,1.0,...,0.0,0.0,808416,31810,11.75,168516,637911,708010,98172,232201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,82159,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,808416,31810,11.75,168516,637911,708010,98172,232201
208,82450,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,609,50,7.56,44,565,536,73,160
209,82580,0,0,0,0,2,0.0,0.0,0.0,0.0,...,0.0,0.0,1616832,63620,23.50,337032,1275822,1416020,196344,464402
210,82708,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,808416,31810,11.75,168516,637911,708010,98172,232201
211,82800,0,0,0,0,2,0.0,0.0,0.0,0.0,...,0.0,0.0,1616832,63620,23.50,337032,1275822,1416020,196344,464402

In [ ]:
culiacan.to_csv('data_culiacan.csv')